<!doctype html>
<html>
  <head>
    <title>Weather search</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Weather search</h1>
    <form action="/weather" method="GET">
      <p>What city do you want to check the weather for?</p>
      <input id="search-box" type="text" name="weather_city">
      <input type="submit" value="Search" >
      <p><%= wmsg %></p>
    </form>
  </body>
</html>